<ion-header>
  <ion-toolbar>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-title>Never gonna give you up</ion-card-title>
      </ion-card-header>
<br>
      <ion-card-content class="ion-padding">
        Never gonna give you up<br>
        Never gonna let you down<br>
        Never gonna run around and desert you<br>
        Never gonna make you cry<br>
        Never gonna say goodbye<br>
        Never gonna tell a lie and hurt you<br><br>
        <ion-button color="primary" href="https://www.google.com/search?q=never+gonna+give+you+up+lyrics&rlz=1C1CHBF_enPH867PH867&sxsrf=AOaemvIwUvKWx4ddnMivim6GNFfB3VGfNA%3A1632652393163&ei=aUxQYbCpCdLAhwOPtL_4AQ&oq=never+gonna+give+you+up+lyrics&gs_lcp=Cgdnd3Mtd2l6EAEYADIECAAQQzIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoHCAAQRxCwAzoHCAAQsAMQQzoKCC4QyAMQsAMQQzoECC4QQ0oFCDgSATFKBAhBGABQhZkKWOeuCmDU9ApoAXACeACAAYECiAGqB5IBBTIuNC4xmAEAoAEByAEOwAEB&sclient=gws-wiz">See Lyrics</ion-button><br><br>
        <ion-button color="primary" href="">Watch</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-title>LOCO</ion-card-title>
        <ion-card-subtitle>ITZY</ion-card-subtitle>
      </ion-card-header>
<br>
      <ion-card-content class="ion-padding">
        미친다는 말이 이해 간달까<br>
        I’m gettin’ LOCO LOCO<br>
        Oh gosh 이건 달콤한 독 같아<br>
        I’m gettin’ LOCO LOCO<br>
        출구 없는 방 안에 사방이 너란 거울이야<br>
        굳이 쉽게 말하자면 I feel like I was born to love ya...<br>
        <ion-button color="primary" href="https://inkistyle.com/itzy-loco-mv/">See Lyrics</ion-button><br><br>
        <ion-button color="primary" href="https://www.youtube.com/watch?v=MjCZfZfucEc">Watch</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
